.comic-button {
    height: 200px;
    width: 200px;
    padding-bottom: 30px;
    font-family: 'Bangers', Impact, sans-serif;
    font-size: 1.5em;
    text-align: center;
    background-color: transparent;
    background-image: url('../../assets/images/icons/comic-button.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border: none;
    cursor: pointer;
    color: red;
}

.comic-button.comics {
    color: black;
}

@media screen and (max-width: 493px) {
    .comic-button {
        height: 135px;
        width: 135px;
        font-family: 'Bangers', Impact, sans-serif;
        font-size: 0.9em;
    }
}
