* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    overflow-x: hidden;
}

a {
    display: inline-block;
    text-decoration: none;
}

h1,
p {
    font-family: 'Bangers', Impact, sans-serif;
}

h1 {
    font-size: 3em;
}

li {
    list-style-type: none;
}

@font-face {
    font-family: 'Bangers';
    src: url('../fonts/Bangers-Regular.ttf') format('truetype');
}

.column {
    flex: 1 1 20%;
}

.row {
    display: flex;
}

nav {
    position: fixed;
    z-index: 100;
    padding: 15px;
    background-color: black;
    width: 100vw;
}

nav ul {
    list-style-type: none;
    font-size: 20px;
    text-align: center;
}

nav ul li {
    display: inline-block;
    padding-left: 10px;
}

nav ul li a {
    color: white;
}

.search-box {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.input-field {
    height: 2.5em;
    width: 50vw;
    border-radius: 1em;
    padding-left: 40px;
}

.magnifying-glass {
    position: absolute;
    height: auto;
    width: 25px;
    top: 5px;
    left: 26%;
}

.result-box {
    width: 50vw;
    background-color: white;
    border: 1px solid black;
    border-radius: 1em;
}

.result-box ul {
    cursor: pointer;
}

.result-box li:hover {
    background-color: #ed1d24;
}

.comic-button {
    height: 200px;
    width: 200px;
    padding-bottom: 30px;
    font-family: 'Bangers', Impact, sans-serif;
    font-size: 1.5em;
    text-align: center;
    background-color: transparent;
    background-image: url('../images/icons/comic-button.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border: none;
    cursor: pointer;
}

.section {
    min-height: 30vh;
    width: 100vw;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: contain;
}

@media screen and (max-width: 493px) {
    h1 {
        font-size: 2em;
    }

    nav ul {
        font-size: 15px;
    }

    .comic-button {
        height: 135px;
        width: 135px;
        font-family: 'Bangers', Impact, sans-serif;
        font-size: 0.9em;
    }

    .bottom-bg p {
        font-size: 1em;
    }
}
