body {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
}

.index-bg {
    background-image: url('../images/marvelBackground.webp');
    background-color: #800303;
}

.snap-bg {
    background-image: url('../images/snapBackground.jpg');
}

nav ul {
    list-style-type: none;
    font-size: 20px;
    border-bottom: 1px solid black;
}

nav ul li {
    display: inline-block;
    padding-left: 50px;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    display: inline-block;
}

.index-bg nav ul li a {
    color: white;
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.search-box {
    background-color: white;
    width: 50%;
    border-radius: 5px;
    margin: 10px 20px;
    padding: 10px 20px 0px 20px;
}

.result-box ul {
    margin-bottom: 0;
    border-top: 1px solid black;
}

.result-box ul li {
    cursor: pointer;
    padding: 3px;
}

#search-form {
    display: flex;
}

#search-data {
    display: flex;
}

.input-field {
    flex: 1;
    height: 50px;
    border: 0;
    outline: 0;
    font-size: 18px;
    color: #333;
    width: 100%;
}

#description {
    margin: 10px;
    color: white;
}

.character-display {
    min-width: 300px;
    width: 40vw;
    max-width: 600px;
    height: 40vw;
    min-height: 300px;
    max-height: 550px;
    margin: 0 auto;
}

@media (max-width: 480px) {
    .search-box {
        width: 80%;
    }

    .input-field {
        width: 80%;
    }
}

.snap-cards {
    max-width: 25%;
    height: auto; /* Maintain aspect ratio */
    display: block; /* Ensure images are block elements */
    margin: 10px auto; /* Center images with some margin */
}

#collection-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
