body {
    background-repeat: no-repeat;
}

.page-search {
    background-image: url('../images/marvelBackground.jpg');
    background-position: 100% 30%;
}

.page-snap {
    background-image: url('../images/snapBackground.jpg');
    background-position: 50% 0%;
}
#image-display {
    width: 500px;
    height: 500px;
    border: solid;
}

nav ul {
    list-style-type: none;
    font-size: 20px;
    border-bottom: 1px solid black;
}
