<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/main.css" />
        <link rel="stylesheet" href="/css/characters.css" />
        <script type="module">
            import '@js/characters.js';
        </script>
        <title>Marvel Characters</title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li>
                        <a href="/index.html">Home</a>
                    </li>
                    <li>
                        <a href="/characters.html">Characters</a>
                    </li>
                    <li>
                        <a href="">Comics</a>
                    </li>
                    <li>
                        <a href="">Events</a>
                    </li>
                    <li>
                        <a href="/marvelSnap.html">Marvel Snap</a>
                    </li>
                </ul>
            </nav>
        </header>
        <main>
            <div class="section top-bg">
                <h1>Explore the Marvel Database</h1>
                <div class="search-box">
                    <img
                        src="/images/icons/magnifying-glass.png"
                        class="magnifying-glass"
                    />
                    <form id="search-form">
                        <input
                            type="text"
                            class="input-field"
                            id="character-value"
                            placeholder="Search Character"
                            autocomplete="off"
                        />
                    </form>
                    <div class="result-box">
                        <ul>
                            <!-- <li> elements will be generated 
                                based on search results -->
                        </ul>
                    </div>
                </div>
                <button type="submit" class="comic-button" form="search-form">
                    Search!
                </button>
            </div>
            <div class="section mid-bg">
                <div id="portrait"></div>
            </div>
            <div class="section bottom-bg">
                <p id="description"></p>
            </div>
        </main>
    </body>
</html>
